.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background:seagreen !important;
  width: 100%;
}

.repo-list{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.ui_card {
  display: block !important;
  width: 100%;
  height: auto !important;
  border-radius: inherit;
  justify-content: center !important;
}

.repo-icon{
  width:50% !important;
  justify-content: center !important;
}

.ui.cards>.card>.image>img{
  display: none !important;
}

